header {
  font-size: 40px
}

h1{
  font-size: 60px;
  color: white;
   margin-left: auto;
   margin-right: auto;
   width: 70%;
}


p{
 
   margin-left: auto;
   margin-right: auto;
   width: 70%;
}

article{
	border: 15px solid navy;
}

div{
	border: 5px solid navy;
	margin-left: auto;
  margin-right: auto;
  width: 70%;
}

h2{
	margin-top:500px
}

footer{
    margin-top: 500px;
    margin-left:500px;
}

aside{
  font-size: 40px;
  color: white;
  float: right;

}



