header {
  font-size: 50px;
  
  color:white;
  margin-bottom: 100px
}

h1{
  font-size: 50px;
  color: white;
   margin-left: 80px
   width: 70%;
}


p{
 
   margin-left: auto;
   margin-right: auto;
   width: 70%;
}

article{
  border: 15px solid navy;
}

div{
  border: 5px solid navy;
 margin-top: 5px;
  width: 50%;
  font-size: 20px
  float: left;
}

h2{
  margin-top:500px
}




aside{
  font-size: 40px;
  color: white;
  float: right;
  border: 5px solid navy;


}

.button {
  border-style: none;
  background-color: white;
  color: blue
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  width: 20%;
  float: left;
}

footer{
  margin-top: 100px;
  margin-left:500px;
}
